<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/register_login.css}">
    <link rel="stylesheet" th:href="@{/css/create-discussion.css}">

</head>
<body>
    <div class="topnav">
        <div class="topnav-left">
            <div><a>AutoExpress</a></div>
        </div>

        <div class="topnav-middle"></div>


        <div class="topnav-right">
            <div><a th:href="@{/about}">About</a></div>
            <div><a th:if="${!@authService.isAuthenticated()}" th:href="@{/login}">Login</a></div>
            <div><a th:if="${!@authService.isAuthenticated()}" th:href="@{/register}">Register</a></div>
            <div><a th:if="${@authService.isAuthenticated()}" th:href="@{/logout}">Logout</a></div>
        </div>


    </div>
</body>
</html>