<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/navbar.css}">
</head>
<body>
    <header>

        <nav>
            <div>
                <a>Logo</a>
            </div>
            <div>
                <li>Login</li>
                <li>Register</li>
                <li>Logout</li>
            </div>


        </nav>

    </header>


</body>
</html>