<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-upper navbar-section">
            <div>
                <a th:href="@{/discussion/create}"><img th:src="@{images/plus.jpg}" width="10%" height="10%">Create Discussion</a>
            </div>
            <div>Upper 2</div>
            <div>Upper 3</div>
            <div>Upper 4</div>
            <div>Upper 5</div>

        </div>
        <div class="navbar-middle navbar-section">
            <div>Middle 1</div>
            <div>Middle 2</div>
            <div>MIddle 3</div>
            <div>MIddle 4</div>
            <div>MIddle 5</div>

        </div>

        <div class="navbar-lower navbar-section">
            <div>Lower 1</div>
            <div>Lower 2</div>
            <div>Lower 3</div>
            <div>Lower 4</div>
            <div>Lower 5</div>

        </div>

    </nav>

</body>
</html>