<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-upper navbar-section">

            <div th:if="${@authService.isAuthenticated()}">
                <a th:href="@{/users/{username}(username=${@authService.getUsername()})}">
                    <div>
                        Profile
                    </div>
                </a>
            </div>


            <div th:if="${@authService.isAuthenticated()}">
                <a th:href="@{/discussion/create}">
                    <div>
                        <img th:src="@{/images/plus.jpg}" width="10%" height="10%">
                        Create Discussion
                    </div>
                </a>
            </div>


        </div>
        <div class="navbar-middle navbar-section" th:if="${@authService.isAuthenticated()}">

            <div>
                <form th:method="POST"
                      th:action="@{/discussion/by_topic}">
                    <p>Search by Topic</p>
                    <select name="name">
                        <option value="Select Topic">Select Topic</option>
                        <option th:each="topicEnum : ${T(com.example.AutoExpress.entities.TopicEnum).values()}"
                                th:value="${topicEnum}" th:text="${topicEnum}"></option>
                    </select>
                    <button type="submit">Search</button>
                </form>
            </div>


        </div>

        <div class="navbar-lower navbar-section">
            <div>Lower 1</div>
            <div>Lower 2</div>
            <div>Lower 3</div>
            <div>Lower 4</div>
            <div>Lower 5</div>

        </div>

    </nav>

</body>
</html>