html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

main {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    margin-top: 3%;
    display: inline-grid;
    grid-column-gap: 2%;
    grid-template-columns: 10% 90%;
}

.content {
    min-height: 100%;
    min-width: 88%;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 1
}

.content-inner {
    align-items: center;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.index-logged-out {
    background-color: #626363;
    border: 2px solid #626363;
    border-radius: 5px;
    color: #d3d3d3;
    font-weight: bold;
    padding: 5%;
    margin: 15% 20%;
    align-items: center;
    text-align: center;
}

.index-logged-out > a > span {
    color: #49b51f;
}

.submit-btn {
    color: black;
    font-weight: bold;
    background-color: #49b51f;
    border: 2px solid #49b51f;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #626363;
    border: 2px solid #626363;
    color: #d3d3d3;
}