html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

main {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    margin-top: 3%;
    display: inline-grid;
    grid-column-gap: 2%;
    grid-template-columns: 10% 90%;
}

.content {
    min-height: 100%;
    min-width: 88%;
    position: absolute;
    top: 5%;
    left: 12%;
    z-index: 1
}

.content-inner {
    align-items: center;

}