<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons/header::head}"></head>

<body>
    <header th:replace="~{commons/header::div}"></header>
    <main>
        <nav th:replace="~{commons/navbar::nav}"></nav>

        <div class="content">
            <div class="content-inner">

                <h1>About</h1>
                <div>
                    <p>This is a forum for people who love cars and want to share their passion with others.</p>
                </div>

            </div>

        </div>


    </main>
</body>
</html>