<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}"></head>
<body>

<header th:replace="~{commons/header::div}"></header>

<main>
    <nav th:replace="~{commons/navbar::nav}"></nav>

    <form
            th:method="PUT"
            th:action="@{/admin/users/changeUsername/{id}(id=${user.id})}"
    >

        <div class="content">
            <div class="content-inner">
                <div class="login-input">
                    <h1>Change Username for user <span th:text="*{user.username}"></span></h1>
                </div>
                <div class="login-input">
                    <div>
                        <label>Username</label>
                    </div>
                    <input type="text" name="username">

                </div>
                <div class="login-input">
                    <button type="submit" class="submit-btn">Change Username</button>
                </div>


        </div>
    </form>


</main>
</body>
</html>