<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}">
<body>
    <header th:replace="~{commons/header::div}"></header>

    <main>
        <nav th:replace="~{commons/navbar::nav}"></nav>


        <div class="content">
            <div class="content-inner">
                <h1 th:text="*{discussion.title}">Title</h1>
                <div th:text="*{discussion.topic.name}">Topic</div>
                <div th:text="*{discussion.description}">Descr</div>
                <div th:text="*{discussion.CreatedOn}">Date</div>
                <div th:text="*{discussion.createdBy.username}">Author</div>
            </div>
        </div>
    </main>

</body>
</html>