<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}">

</head>
<body>
<header th:replace="~{commons/header::div}"></header>

<main>
    <nav th:replace="~{commons/navbar::nav}"></nav>
    <div class="content">

        <div th:if="${@authService.isAuthenticated()}" class="content-inner">

            <h1>Discussions about <span th:text="*{topic.name}"></span></h1>
            <div class="discussion-user-profile discussion-home-page" th:each="d : ${discussions}">

                <div class="discussion-component">
                    <a th:href="@{/discussion/{title}(title=${d.title})}"><h3 th:text="*{d.title}">Title</h3></a>
                </div>

                <div class="discussion-component discussion-home-page-lower">
                    <div>
                        <span>Topic: </span>
                        <a><span th:text="*{d.topic.name}">Topic</span></a>
                    </div>
                    <div>
                        <span>Created On: </span>
                        <a><span th:text="*{d.createdOn}">Created On</span></a>
                    </div>

                    <div>
                        <span>Created By:</span>
                        <a th:href="@{/users/{username}(username=${d.createdBy.username})}"><span th:text="*{d.createdBy.username}">Author</span></a>
                    </div>
                </div>


            </div>


        </div>

    </div>

</main>

</body>


</html>