<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}">
<body>
    <header th:replace="~{commons/header::div}"></header>

    <main>
        <nav th:replace="~{commons/navbar::nav}"></nav>


        <div class="content">
            <div class="content-inner">

                <div class="discussion-original">
                    <h1 th:text="*{discussion.title}">Title</h1>
                    <div th:text="*{discussion.topic.name}">Topic</div>
                    <div th:text="*{discussion.description}">Descr</div>
                    <div th:text="*{discussion.CreatedOn}">Date</div>
                    <div th:text="*{discussion.createdBy.username}">Author</div>
                </div>

                <div class="discussion-comments">
                    <h3>Comments</h3>
                    <div class="comment" th:each="c : ${comments}">
                        <div th:text="*{c.description}"></div>
                        <div th:text="*{c.createdOn}"></div>

                        <a th:href="@{/users/{username}(username=${c.createdBy.username})}"><div th:text="*{c.createdBy.username}"></div></a>

                        <div>
                            <form
                                th:method="PUT"
                                th:action="@{/comments/increase_reputation/{id}(id = ${c.id})}">

                                <div th:text="*{c.reputation}"></div>
                                <button type="submit" >Upvote</button>
                            </form>

                        </div>

                        <div th:if="${c.createdBy.id == @authService.getUser().getId()} or ${@authService.isAdmin()}">
                            <form th:method="POST"
                                th:action="@{/comments/delete/{id}(id=${c.Id})}">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

                <form th:method="POST"
                      th:action="@{/comments/create/{discussionTitle}(discussionTitle=${discussion.title})}"
                                    >
                    <div class="add-comment">
                        <h3>Add Comment</h3>
                        <textarea type="text" name="description"></textarea>
                        <button type="submit">Comment</button>
                    </div>
                </form>

            </div>
        </div>
    </main>

</body>
</html>