<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}">
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" th:href="@{css/style.css}">-->
<!--    <link rel="stylesheet" th:href="@{css/header.css}">-->
</head>
<body>
    <header th:replace="~{commons/header::div}"></header>

    <main>
        <nav th:replace="~{commons/navbar::nav}"></nav>
        <div class="content">

            <div th:if="${@authService.isAuthenticated()}" class="content-inner">
                    <h2>Most recent Discussions</h2>
                    <div class="discussion" th:each="d : ${discussions}">

                        <a th:href="@{/discussion/{title}(title=${d.title})}"><div th:text="*{d.title}">Title</div></a>
                        <a><div th:text="*{d.topic.name}">Topic</div></a>
                        <div class="additional_data">
                            <a><div th:text="*{d.createdOn}">Created On</div></a>
                            <a th:href="@{/users/{username}(username=${d.createdBy.username})}"><div th:text="*{d.createdBy.username}">Author</div></a>
                        </div>

                    </div>

            </div>

        </div>

    </main>

</body>


</html>