<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}"></head>
<body>
    <header th:replace="~{commons/header::div}"></header>

    <main>
        <nav th:replace="~{commons/navbar::nav}"></nav>

        <form
            th:method="POST"
            th:action="@{/register}"
            th:object="${registerData}"
        >

            <div class="content">
                <div class="content-inner">
                    <div class="login-input">
                        <h1>Register</h1>
                    </div>
                    <div class="login-input">
                        <div>
                            <label>Username</label>
                        </div>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="is-invalid"></div>
                        <input type="text" name="username" th:field="*{username}" th:errorclass="invalid-input">
                    </div>
                    <div class="login-input">
                        <div>
                            <label>Email</label>
                        </div>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="is-invalid"></div>
                        <input type="text" name="email" th:field="*{email}" th:errorclass="invalid-input">
                    </div>
                    <div class="login-input">
                        <div>
                            <label>Password</label>
                        </div>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="is-invalid"></div>
                        <input type="password" name="password" th:field="*{password}" th:errorclass="invalid-input">
                    </div>
                    <div class="login-input">
                        <div>
                            <label>Confirm Password</label>
                        </div>
                        <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="is-invalid"></div>
                        <input type="password" name="confirmPassword" th:errorclass="invalid-input">
                    </div>
                    <div class="login-input">
                        <button type="submit" class="submit-btn">Register</button>
                    </div>
                </div>
                <div class="content-inner">
                    <div class="login-input">Already have an account?</div>
                    <div class="login-input">Click here to <a th:href="@{/login}">Sign in</a></div>
                </div>

            </div>
        </form>




    </main>
</body>
</html>