<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/header::head}">
<body>
<header th:replace="~{commons/header::div}"></header>

<main>
    <nav th:replace="~{commons/navbar::nav}"></nav>


    <div class="content">
        <div class="content-inner">
            <div>
                <div>
                    <h1 th:text="*{user.username}">Username</h1>
                    <div class="admin-disable-enable-buttons">
                        <div th:if="${@authService.isAdmin()} and ${!@userService.hasAdminRole(user)}">
                            <form th:method="PUT"
                                  th:action="@{/admin/users/disable/{id}(id=${user.id})}"
                            >
                                <button type="submit" class="submit-btn">Disable User</button>
                            </form>
                        </div>
                        <div th:if="${@authService.isAdmin()} and ${!@userService.hasAdminRole(user)}">
                            <form th:method="PUT"
                                  th:action="@{/admin/users/enable/{id}(id=${user.id})}"
                            >
                                <button type="submit" class="submit-btn">Enable User</button>
                            </form>
                        </div>

                        <div th:if="${@authService.isAdmin()}">
                            <form th:method="PUT"
                                  th:action="@{/admin/users/changeUsername/{id}(id=${user.id})}"
                            >
                                <button type="submit" class="submit-btn">Change Username</button>
                            </form>
                        </div>
                    </div>

                </div>


                <div>
                    <span>Email: </span>
                    <span th:text="*{user.email}">Email</span>
                </div>
            </div>

            <div class="user-profile-lower">

                <div class="user-profile-discussions">
                    <h3>Created Discussions</h3>
                    <div class="discussion-user-profile" th:each="d : ${discussions}">

                        <div class="discussion-component">
                            <a th:href="@{/discussion/{title}(title=${d.title})}"><h3 th:text="*{d.title}">Title</h3></a>
                        </div>

                        <div class="discussion-component">
                            <span>Topic: </span>
                            <a><span th:text="*{d.topic.name}">Topic</span></a>
                        </div>
                        <div class="discussion-component">
                            <span>Created On: </span>
                            <a><span th:text="*{d.createdOn}">Created On</span></a>
                        </div>




                    </div>
                </div>



                <div class="user-profile-liked-comments">
                    <h3>Liked Comments</h3>
                    <div class="comment-profile" th:each="c : ${comments}">
                        <div class="comment-component">
                            <a th:href="@{/discussion/{title}(title=${c.discussion.title})}"><h3 th:text="*{c.discussion.title}"></h3></a>
                        </div>

                        <div class="comment-description-profile comment-component">
                            <p th:text="*{c.description}"></p>
                        </div>

                        <div class="comment-data-profile comment-component">

                            <div>
                                <span>Posted By: </span>
                                <a th:href="@{/users/{username}(username=${c.createdBy.username})}"><span th:text="*{c.createdBy.username}"></span></a>
                            </div>
                            <div>
                                <span>Posted On:</span>
                                <span th:text="*{c.createdOn}"></span>
                            </div>

                            <div>
                                <span>Reputation: </span>
                                <span th:text="*{c.reputation}"></span>
                            </div>

                        </div>


                    </div>

                </div>
            </div>

<!--            add discussion list-->
        </div>
    </div>
</main>

</body>
</html>